server {
    listen 80;
    server_name _;
    resolver;
    location / {
        root /data;
        autoindex on;
        access_log /dev/stdout;
        error_log /dev/stdout;
        client_max_body_size 1g;
        create_full_put_path off;
        dav_methods PUT DELETE MKCOL COPY MOVE;
        dav_ext_methods PROPFIND OPTIONS;
    }
}
